<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">

      <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>

      <li class="nav-item"><a href="/genre" class="nav-link">Genres</a></li>

      <li class="nav-item"><a href="/artist" class="nav-link">Artists</a></li>

      <li class="nav-item"><a href="/album" class="nav-link">Albums</a></li>

      <li class="nav-item"><a href="/song" class="nav-link">Songs</a></li>

      <li class="nav-item"><a href="/profiles/myprofile/1" class="nav-link">My Profile</a></li>

    </ul>
  </header>